body {
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
}
.js-todolist,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin-top: 10px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid {
    align-items: stretch;
}
.input-button,
.due-date-input {
    font-size: 15px;
    padding: 6px;
}
.add-button {
    background-color: green;
    width: 80px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.delete-button {
    background-color: red;
    width: 80px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;

}
@media only screen and(max-width: 480) {
    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: yellow;
        width: 100%;
        /* height: 100%; */
    }
    
}